.main-chat
  .chat-info
    .info-contents
      .info-contents__group-name
        = @group.group_name
      .info-contents__group-users
        Member : 
        - @group.users.each do |user|
          =user.nickname
    .edit-btn
      =link_to edit_group_path(@group.id) do
        グループ編集
  .chat-messages
    = render @messages

  .chat-form
    = form_with model: [@group, @message], html: {class:"new-message"}, local: true do |f|
      .input-box
        = f.hidden_field :user_id, value: current_user.id
        = f.text_field :text, class:"input-box__text", placeholder:"#{@group.group_name} へのメッセージ"
        = f.label :image, class:"input-box__img" do
          = icon('far', 'image', class: "input-box__icon")
          = f.file_field :image,class:"input-box__img--file"
      =f.submit 'Send', class:"submit-btn"