.message-box
  .posting-img
    = image_tag message.image.url if message.image.present?
  .posting-contents
    - if current_user.profile.present? && current_user.profile.image?
      = image_tag @profile.image.url,class:"posting-contents__user-img"
    - else
      .posting-contents__user-img
        = icon("fas", "user-circle")
    .posting-contents__container
      .posting-contents__container--user-name
        = message.user.nickname
      .posting-contents__container--text
        = message.text
      .posting-contents__container--created-at
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
