.user-sign-in__rapper
  .user-sign-in__rapper--title
    アカウント編集
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .sign-in-form
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class: "input-field"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "new-password",class: "input-field"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            文字以上
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class: "input-field"
      .field
        = f.label :current_password
        %br/
        = f.password_field :current_password, autocomplete: "current-password",class: "input-field"
      .actions
        = f.submit "Update"
  %p
    アカウント情報削除 #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "戻る", :back
  = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"button"
