- if user_signed_in? && current_user.already_liked?(artcle)
  = link_to "/artcles/#{artcle.id}/likes", method: :detele, remote: true do
    ★
- else
  = link_to "/artcles/#{artcle.id}/likes", method: :post, remote: true do
    ☆
= artcle.likes.length
