.new-artcle.col-md-7
  .new-artcle__title 
    = link_to artcle_path(artcle.id) do
      =artcle.title
  .new-artcle__user
    = artcle.user.nickname
  - if artcle.image?
    = image_tag "#{artcle.image}", class:"new-artcle__img"
  - else
    = image_tag "/assets/publicdomainq-0015394kfs.jpg", class:"new-artcle__img"
  .new-artcle__text
    = artcle.text
  .new-artcle__favo
    いいね：
    = artcle.favorites.length
  .new-artcle__created_at
    = artcle.created_at.strftime("%Y年%m月%d日 %H時%M分")
  