= render "topics/header"
.artcles-index__wrapper
  .posting-box
    = link_to "artcles/new" do
      投稿する
  = render "search-box"
  .container.artcle-contents
    .new-artcles-box
      - @artcles.each do |artcle|
        = render "artcle", { artcle: artcle}
    .popular-artcles-box
      %h3 人気記事
  .pagenations
    = paginate @artcles