= render "layouts/header"
- breadcrumb :artcle_search
= render "layouts/breadcrumbs"

.artcle-search-wrapper
  .artcle-search-wrapper__title
    検索結果
  = render "search-box"
  - @artcles.each do |artcle|
    = render "artcle", { artcle: artcle}
  .pagenations
    = paginate @artcles
