= render "layouts/header"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
- if @unapproved.length != 0
  = link_to user_schedules_path(current_user.id), class:"mypage-info" do
    対戦申込が
    = @unapproved.length
    件あります!
.mypage-info
.mypage-body
  = render "layouts/mypage-side-bar"
  .main-contents
    .acount-container
      .acount-container__image
        - if current_user.profile.present? && current_user.profile.image?
          = image_tag @profile.image.url, class: "acount-container__image--picture"
        - else
          .acount-container__image--icon
            = icon("fas", "user-circle")
        .acount-container__image--name
          = @user.nickname
    .chart-container
      - if @user_status == nil
        .chart-container__message
          ステータスはありません。
          %br
          対戦をして相手から評価をもらってください
      = render 'layouts/radar-chart'
    .record
