.schedule-list
  .schedule-list__type.shedule-list-cell
    = schedule.match_type
  .schedule-list__date.shedule-list-cell
    = schedule.scheduled_date.strftime('%Y年%m月%d日')
    %br
    = schedule.scheduled_time.strftime('%H:%M')
    〜
  .schedule-title-list__opponent.shedule-list-cell
    - if current_user.id == schedule.host_user_id
      = User.find(schedule.guest_user_id).nickname
    - else
      = User.find(schedule.host_user_id).nickname
  .schedule-title-list__place.shedule-list-cell
    = schedule.place
  .schedule-title-list__deadline.shedule-list-cell
    = schedule.response_deadline.strftime('%Y年%m月%d日')
  - if @type == "未承認"
    = link_to "承認する", matchings_path(schedule.id), method: :put, class: "schedule-title-list__btn approve-btn"
  - elsif @type == "承認待ち"
    .schedule-title-list__btn.schedule-status
      回答待ち
  - elsif @type == "対戦予定"
    .schedule-title-list__btn.schedule-status
      対戦待ち
  - elsif @type == "評価待ち"
    - if current_user.id == schedule.host_user_id
      = link_to new_userstatus_path(schedule.guest_user_id), class: "schedule-title-list__btn rating-btn" do
        評価する
    - else
      = link_to new_userstatus_path(schedule.host_user_id), class: "schedule-title-list__btn rating-btn" do
        評価する
  - elsif @type == "完了"
    .schedule-title-list__btn.conpleted-btn
      完了
  - elsif @type == "回答期限切れ"
    = link_to "削除する", matching_path(schedule.id), method: :delete, class: "schedule-title-list__btn expired-btn"
