= render "layouts/header"
- breadcrumb :schedule
= render "layouts/breadcrumbs"

.mypage-body
  = render "layouts/mypage-side-bar"
  .schedule-box
    .unapproved-container
      .unapproved-container__title
        未承認リスト
      = render "schedule-list-title"
      - @unapproved.each do |schedule|
        - @type = "未承認"
        = render "schedule-list", {schedule: schedule}
    .applying-container
      .applying-container__title
        承認待ち
      = render "schedule-list-title"
      - @applying.each do |schedule|
        - @type = "承認待ち"
        = render "schedule-list", {schedule: schedule}
    .approved-container
      .approved-container__title
        対戦予定
      = render "schedule-list-title"
      - @approved.each do |schedule|
        - @type = "対戦予定"
        = render "schedule-list", {schedule: schedule}
    .unrated-container
      .unrated-container__title
        評価待ち
      = render "schedule-list-title"
      - @unrating.each do |schedule|
        - @type = "評価待ち"
        = render "schedule-list", {schedule: schedule}
    .completed-container
      .completed-container__title
        完了リスト
      = render "schedule-list-title"
      - @completed.each do |schedule|
        - @type = "完了"
        = render "schedule-list", {schedule: schedule}
    .expired-container
      .expired-container__title
        回答期限切れ
      = render "schedule-list-title"
      - @expired.each do |schedule|
        - @type = "回答期限切れ"
        = render "schedule-list", {schedule: schedule}
