%canvas#myRaderChart
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"}

:javascript
  var name = '#{current_user.nickname}';
  var footwork = '#{@footwork}';
  var stamina = '#{@stamina}';
  var service = '#{@service}';
  var receive = '#{@receive}';
  var volley = '#{@volley}';
  var forehand = '#{@forehand}';
  var backhand = '#{@backhand}';
  var mental = '#{@mental}';
  var ctx = document.getElementById("myRaderChart");
  var myRadarChart = new Chart(ctx, {
    type: 'radar', 
    data: { 
        labels: ["フットワーク", "スタミナ", "サーブ", "リターン", "ボレー","フォアハンド","バックハンド","メンタル"],
        datasets: [{
            label: name,
            data: [footwork, stamina, service, receive, volley, forehand, backhand, mental],
            backgroundColor: 'RGBA(225,95,150, 0.5)',
            borderColor: 'RGBA(225,95,150, 1)',
            borderWidth: 1,
            pointBackgroundColor: 'RGB(46,106,177)'
        }]
    },
    options: {
        title: {
            display: true,
            text: '#{@user.nickname}さんのステータス'
        },
        scale:{
            ticks:{
                suggestedMin: 0,
                suggestedMax: 100,
                stepSize: 10,
                callback: function(value, index, values){
                    return  value
                }
            }
        }
    }
  });
